package {{.Package}}

{{if notEmpty .Imports}}
    {{- range $_, $pkg := .Imports}}
    {{$pkg}}
    {{- end -}}
{{- end}}

type Converter struct{}

func NewConverter() *Converter {
	return &Converter{}
}

func (o *Converter) DataDbToPb(dbItem *DbModel) *pb.Model {
	return &pb.Model{
		Id: uint64(dbItem.ID),
	}
}

func (o *Converter) DataPbToDb(pbItem *pb.Model) *DbModel {
	return &DbModel{}
}
